html {
    box-sizing:border-box
}

*, * :before, * :after {
    box-sizing: inherit
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust:100%
}

body {
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display:block
}

summary {
    display: list-item
}

audio, canvas, progress, video {
    display:inline-block
}

progress {
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height:0
}

[hidden], template {
    display: none
}

a {
    background-color:transparent
}

a:active, a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight:bolder
}

dfn {
    font-style:italic
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size:80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom:-0.25em
}

sup {
    top:-0.5em
}

figure {
    margin:1em 40px
}

img {
    border-style: none
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size:1em
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button, input, select, textarea, optgroup {
    font: inherit;
    margin:0
}

optgroup {
    font-weight: bold
}

button, input {
    overflow:visible
}

button, select {
    text-transform: none
}

button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space:normal
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

html, body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

html {
    overflow-x: hidden
}

h1 {
    font-size:36px
}

h2 {
    font-size:30px
}

h3 {
    font-size:24px
}

h4 {
    font-size:20px
}

h5 {
    font-size:18px
}

h6 {
    font-size:16px
}

.demo-serif {
    font-family: serif
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin:2px 0
}

.demo-wide {
    letter-spacing: 4px
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}

.demo-image {
    max-width: 100%;
    height:auto
}

img {
    vertical-align:middle
}

a {
    color: inherit
}

.demo-table, .demo-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display:table
}

.demo-table-all {
    border: 1px solid #ccc
}

.demo-bordered tr, .demo-table-all tr {
    border-bottom:1px solid #ddd
}

.demo-striped tbody tr:nth-child(even) {
    background-color: #f1f1f1
}

.demo-table-all tr:nth-child(odd) {
    background-color:#fff
}

.demo-table-all tr:nth-child(even) {
    background-color: #f1f1f1
}

.demo-hoverable tbody tr:hover, .demo-ul.demo-hoverable li:hover {
    background-color:#ccc
}

.demo-centered tr th, .demo-centered tr td {
    text-align: center
}

.demo-table td, .demo-table th, .demo-table-all td, .demo-table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top
}

.demo-table th:first-child, .demo-table td:first-child, .demo-table-all th:first-child, .demo-table-all td:first-child {
    padding-left: 16px
}

.demo-btn, .demo-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.demo-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.demo-btn, .demo-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.demo-disabled, .demo-btn:disabled, .demo-button:disabled {
    cursor: not-allowed;
    opacity:0.3
}

.demo-disabled *, :disabled * {
    pointer-events: none
}

.demo-btn.demo-disabled:hover, .demo-btn:disabled:hover {
    box-shadow: none
}

.demo-badge, .demo-tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align:center
}

.demo-badge {
    border-radius: 50%
}

.demo-ul {
    list-style-type: none;
    padding: 0;
    margin:0
}

.demo-ul li {
    padding: 8px 16px;
    border-bottom:1px solid #ddd
}

.demo-ul li:last-child {
    border-bottom: none
}

.demo-tooltip, .demo-display-container {
    position:relative
}

.demo-tooltip .demo-text {
    display:none
}

.demo-tooltip:hover .demo-text {
    display: inline-block
}

.demo-ripple:active {
    opacity:0.5
}

.demo-ripple {
    transition: opacity 0s
}

.demo-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.demo-select {
    padding: 9px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc
}

.demo-dropdown-click, .demo-dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer
}

.demo-dropdown-hover:hover .demo-dropdown-content {
    display: block
}

.demo-dropdown-hover:first-child, .demo-dropdown-click:hover {
    background-color: #ccc;
    color: #000
}

.demo-dropdown-hover:hover > .demo-button:first-child, .demo-dropdown-click:hover > .demo-button:first-child {
    background-color: #ccc;
    color: #000
}

.demo-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    z-index: 1
}

.demo-check, .demo-radio {
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px
}

.demo-sidebar {
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow: auto
}

.demo-bar-block .demo-dropdown-hover, .demo-bar-block .demo-dropdown-click {
    width: 100%
}

.demo-bar-block .demo-dropdown-hover .demo-dropdown-content, .demo-bar-block .demo-dropdown-click .demo-dropdown-content {
    min-width: 100%
}

.demo-bar-block .demo-dropdown-hover .demo-button, .demo-bar-block .demo-dropdown-click .demo-button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}

.demo-main, #main {
    transition: margin-left .4s
}

.demo-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.demo-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

.demo-bar {
    width: 100%;
    overflow:hidden
}

.demo-center .demo-bar {
    display: inline-block;
    width: auto
}

.demo-bar .demo-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.demo-bar .demo-dropdown-hover, .demo-bar .demo-dropdown-click {
    position: static;
    float: left
}

.demo-bar .demo-button {
    white-space: normal
}

.demo-bar-block .demo-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.demo-bar-block.demo-center .demo-bar-item {
    text-align:center
}

.demo-block {
    display: block;
    width: 100%
}

.demo-responsive {
    display: block;
    overflow-x: auto
}

.demo-container:after, .demo-container:before, .demo-panel:after, .demo-panel:before, .demo-row:after, .demo-row:before, .demo-row-padding:after, .demo-row-padding:before, .demo-cell-row:before, .demo-cell-row:after, .demo-clear:after, .demo-clear:before, .demo-bar:before, .demo-bar:after {
    content: "";
    display: table;
    clear: both
}

.demo-col, .demo-half, .demo-third, .demo-twothird, .demo-threequarter, .demo-quarter {
    float: left;
    width: 100%
}

.demo-col.s1 {
    width:8.33333%
}

.demo-col.s2 {
    width:16.66666%
}

.demo-col.s3 {
    width:24.99999%
}

.demo-col.s4 {
    width: 33.33333%
}

.demo-col.s5 {
    width:41.66666%
}

.demo-col.s6 {
    width:49.99999%
}

.demo-col.s7 {
    width:58.33333%
}

.demo-col.s8 {
    width: 66.66666%
}

.demo-col.s9 {
    width:74.99999%
}

.demo-col.s10 {
    width:83.33333%
}

.demo-col.s11 {
    width:91.66666%
}

.demo-col.s12 {
    width: 99.99999%
}

@media (min-width: 601px) {
    .demo-col.m1 {
        width:8.33333%
    }

    .demo-col.m2 {
        width:16.66666%
    }

    .demo-col.m3, .demo-quarter {
        width:24.99999%
    }

    .demo-col.m4, .demo-third {
        width: 33.33333%
    }

    .demo-col.m5 {
        width:41.66666%
    }

    .demo-col.m6, .demo-half {
        width:49.99999%
    }

    .demo-col.m7 {
        width:58.33333%
    }

    .demo-col.m8, .demo-twothird {
        width: 66.66666%
    }

    .demo-col.m9, .demo-threequarter {
        width:74.99999%
    }

    .demo-col.m10 {
        width:83.33333%
    }

    .demo-col.m11 {
        width:91.66666%
    }

    .demo-col.m12 {
        width: 99.99999%
    }
}

@media (min-width: 993px) {
    .demo-col.l1 {
        width:8.33333%
    }

    .demo-col.l2 {
        width:16.66666%
    }

    .demo-col.l3 {
        width:24.99999%
    }

    .demo-col.l4 {
        width: 33.33333%
    }

    .demo-col.l5 {
        width:41.66666%
    }

    .demo-col.l6 {
        width:49.99999%
    }

    .demo-col.l7 {
        width:58.33333%
    }

    .demo-col.l8 {
        width: 66.66666%
    }

    .demo-col.l9 {
        width:74.99999%
    }

    .demo-col.l10 {
        width:83.33333%
    }

    .demo-col.l11 {
        width:91.66666%
    }

    .demo-col.l12 {
        width: 99.99999%
    }
}

.demo-rest {
    overflow:hidden
}

.demo-stretch {
    margin-left: -16px;
    margin-right: -16px
}

.demo-content, .demo-auto {
    margin-left: auto;
    margin-right:auto
}

.demo-content {
    max-width: 980px;
    color:#B5B5B5
}

.demo-auto {
    max-width: 1140px
}

.demo-cell-row {
    display: table;
    width:100%
}

.demo-cell {
    display: table-cell
}

.demo-cell-top {
    vertical-align:top
}

.demo-cell-middle {
    vertical-align:middle
}

.demo-cell-bottom {
    vertical-align: bottom
}

.demo-hide {
    display:none !important
}

.demo-show-block, .demo-show {
    display:block !important
}

.demo-show-inline-block {
    display: inline-block !important
}

@media (max-width: 1205px) {
    .demo-auto {
        max-width: 95%
    }
}

@media (max-width: 600px) {
    .demo-modal-content {
        margin: 0 10px;
        width:auto !important
    }

    .demo-modal {
        padding-top: 30px
    }

    .demo-dropdown-hover.demo-mobile .demo-dropdown-content, .demo-dropdown-click.demo-mobile .demo-dropdown-content {
        position: relative
    }

    .demo-hide-small {
        display:none !important
    }

    .demo-mobile {
        display: block;
        width:100% !important
    }

    .demo-bar-item.demo-mobile, .demo-dropdown-hover.demo-mobile, .demo-dropdown-click.demo-mobile {
        text-align: center
    }

    .demo-dropdown-hover.demo-mobile, .demo-dropdown-hover.demo-mobile .demo-btn, .demo-dropdown-hover.demo-mobile .demo-button, .demo-dropdown-click.demo-mobile, .demo-dropdown-click.demo-mobile .demo-btn, .demo-dropdown-click.demo-mobile .demo-button {
        width: 100%
    }
}

@media (max-width: 768px) {
    .demo-modal-content {
        width:500px
    }

    .demo-modal {
        padding-top: 50px
    }
}

@media (min-width: 993px) {
    .demo-modal-content {
        width:900px
    }

    .demo-hide-large {
        display:none !important
    }

    .demo-sidebar.demo-collapse {
        display: block !important
    }
}

@media (max-width: 992px) and(min-width: 601px) {
    .demo-hide-medium {
        display: none !important
    }
}

@media (max-width: 992px) {
    .demo-sidebar.demo-collapse {
        display:none
    }

    .demo-main {
        margin-left: 0 !important;
        margin-right:0 !important
    }

    .demo-auto {
        max-width: 100%
    }
}

.demo-top, .demo-bottom {
    position: fixed;
    width: 100%;
    z-index:1
}

.demo-top {
    top:0
}

.demo-bottom {
    bottom: 0
}

.demo-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2
}

.demo-display-topleft {
    position: absolute;
    left: 0;
    top:0
}

.demo-display-topright {
    position: absolute;
    right: 0;
    top: 0
}

.demo-display-bottomleft {
    position: absolute;
    left: 0;
    bottom:0
}

.demo-display-bottomright {
    position: absolute;
    right: 0;
    bottom: 0
}

.demo-display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.demo-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%)
}

.demo-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}

.demo-display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}

.demo-display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}

.demo-display-container:hover .demo-display-hover {
    display:block
}

.demo-display-container:hover span.demo-display-hover {
    display:inline-block
}

.demo-display-hover {
    display: none
}

.demo-display-position {
    position: absolute
}

.demo-circle {
    border-radius: 50%
}

.demo-round-small {
    border-radius:2px
}

.demo-round, .demo-round-medium {
    border-radius:4px
}

.demo-round-large {
    border-radius:8px
}

.demo-round-xlarge {
    border-radius:16px
}

.demo-round-xxlarge {
    border-radius: 32px
}

.demo-row-padding, .demo-row-padding > .demo-half, .demo-row-padding > .demo-third, .demo-row-padding > .demo-twothird, .demo-row-padding > .demo-threequarter, .demo-row-padding > .demo-quarter, .demo-row-padding > .demo-col {
    padding: 0 8px
}

.demo-container, .demo-panel {
    padding:0.01em 16px
}

.demo-panel {
    margin-top: 16px;
    margin-bottom: 16px
}

.demo-code, .demo-codespan {
    font-family: Consolas, "courier new";
    font-size: 16px
}

.demo-code {
    width: auto;
    background-color: #fff;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    word-wrap: break-word
}

.demo-codespan {
    color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%
}

.demo-card, .demo-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.demo-card-4, .demo-hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

.demo-spin {
    animation:demo-spin 2s infinite linear
}

@keyframes demo-spin {
    0% {
        transform:rotate(0deg)
    }

    100% {
        transform: rotate(359deg)
    }
}

.demo-animate-fading {
    animation:fading 10s infinite
}

@keyframes fading {
    0% {
        opacity:0
    }

    50% {
        opacity:1
    }

    100% {
        opacity: 0
    }
}

.demo-animate-opacity {
    animation:opac 0.8s
}

@keyframes opac {
    from {
        opacity:0
    }

    to {
        opacity: 1
    }
}

.demo-animate-top {
    position: relative;
    animation:animatetop 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity:0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.demo-animate-left {
    position: relative;
    animation:animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity:0
    }

    to {
        left: 0;
        opacity: 1
    }
}

.demo-animate-right {
    position: relative;
    animation:animateright 0.4s
}

@keyframes animateright {
    from {
        right: -300px;
        opacity:0
    }

    to {
        right: 0;
        opacity: 1
    }
}

.demo-animate-bottom {
    position: relative;
    animation:animatebottom 0.4s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity:0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.demo-animate-zoom {
    animation:animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform:scale(0)
    }

    to {
        transform: scale(1)
    }
}

.demo-animate-input {
    transition:width 0.4s ease-in-out
}

.demo-animate-input:focus {
    width: 100% !important
}

.demo-opacity, .demo-hover-opacity:hover {
    opacity:0.60
}

.demo-opacity-off, .demo-hover-opacity-off:hover {
    opacity: 1
}

.demo-opacity-max {
    opacity:0.25
}

.demo-opacity-min {
    opacity: 0.75
}

.demo-greyscale-max, .demo-grayscale-max, .demo-hover-greyscale:hover, .demo-hover-grayscale:hover {
    filter: grayscale(100%)
}

.demo-greyscale, .demo-grayscale {
    filter:grayscale(75%)
}

.demo-greyscale-min, .demo-grayscale-min {
    filter: grayscale(50%)
}

.demo-sepia {
    filter:sepia(75%)
}

.demo-sepia-max, .demo-hover-sepia:hover {
    filter:sepia(100%)
}

.demo-sepia-min {
    filter: sepia(50%)
}

.demo-tiny {
    font-size:10px !important
}

.demo-small {
    font-size:12px !important
}

.demo-medium {
    font-size:15px !important
}

.demo-large {
    font-size: 18px !important
}

.demo-xlarge {
    font-size:24px !important
}

.demo-xxlarge {
    font-size:36px !important
}

.demo-xxxlarge {
    font-size:48px !important
}

.demo-jumbo {
    font-size: 64px !important
}

.demo-left-align {
    text-align:left !important
}

.demo-right-align {
    text-align:right !important
}

.demo-justify {
    text-align:justify !important
}

.demo-center {
    text-align: center !important
}

.demo-border-0 {
    border:0 !important
}

.demo-border {
    border: 1px solid #ccc !important
}

.demo-border-top {
    border-top:1px solid #ccc !important
}

.demo-border-bottom {
    border-bottom: 1px solid #ccc !important
}

.demo-border-left {
    border-left:1px solid #ccc !important
}

.demo-border-right {
    border-right: 1px solid #ccc !important
}

.demo-topbar {
    border-top:6px solid #ccc !important
}

.demo-bottombar {
    border-bottom: 6px solid #ccc !important
}

.demo-leftbar {
    border-left:6px solid #ccc !important
}

.demo-rightbar {
    border-right: 6px solid #ccc !important
}

.demo-section, .demo-code {
    margin-top: 16px !important;
    margin-bottom: 16px !important
}

.demo-margin {
    margin:16px !important
}

.demo-margin-top {
    margin-top:16px !important
}

.demo-margin-bottom {
    margin-bottom: 16px !important
}

.demo-margin-left {
    margin-left:16px !important
}

.demo-margin-right {
    margin-right: 16px !important
}

.demo-padding-small {
    padding:4px 8px !important
}

.demo-padding {
    padding:8px 16px !important
}

.demo-padding-large {
    padding: 12px 24px !important
}

.demo-padding-16 {
    padding-top: 16px !important;
    padding-bottom:16px !important
}

.demo-padding-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important
}

.demo-padding-32 {
    padding-top: 32px !important;
    padding-bottom:32px !important
}

.demo-padding-48 {
    padding-top: 48px !important;
    padding-bottom: 48px !important
}

.demo-padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important
}

.demo-left {
    float:left !important
}

.demo-right {
    float: right !important
}

.demo-button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.demo-transparent, .demo-hover-none:hover {
    background-color: transparent !important
}

.demo-hover-none:hover {
    box-shadow: none !important
}
/* Colors */

.demo-amber, .demo-hover-amber:hover {
    color: #000 !important;
    background-color: #ffc107 !important
}

.demo-aqua, .demo-hover-aqua:hover {
    color: #000 !important;
    background-color: #00ffff !important
}

.demo-blue, .demo-hover-blue:hover {
    color: #fff !important;
    background-color: #2196F3 !important
}

.demo-light-blue, .demo-hover-light-blue:hover {
    color: #000 !important;
    background-color: #87CEEB !important
}

.demo-brown, .demo-hover-brown:hover {
    color: #fff !important;
    background-color: #795548 !important
}

.demo-cyan, .demo-hover-cyan:hover {
    color: #000 !important;
    background-color: #00bcd4 !important
}

.demo-blue-grey, .demo-hover-blue-grey:hover, .demo-blue-gray, .demo-hover-blue-gray:hover {
    color: #fff !important;
    background-color: #607d8b !important
}

.demo-green, .demo-hover-green:hover {
    color: #fff !important;
    background-color: #4CAF50 !important
}

.demo-light-green, .demo-hover-light-green:hover {
    color: #000 !important;
    background-color: #8bc34a !important
}

.demo-indigo, .demo-hover-indigo:hover {
    color: #fff !important;
    background-color: #3f51b5 !important
}

.demo-khaki, .demo-hover-khaki:hover {
    color: #000 !important;
    background-color: #f0e68c !important
}

.demo-lime, .demo-hover-lime:hover {
    color: #000 !important;
    background-color: #cddc39 !important
}

.demo-orange, .demo-hover-orange:hover {
    color: #000 !important;
    background-color: #ff9800 !important
}

.demo-deep-orange, .demo-hover-deep-orange:hover {
    color: #fff !important;
    background-color: #ff5722 !important
}

.demo-pink, .demo-hover-pink:hover {
    color: #fff !important;
    background-color: #e91e63 !important
}

.demo-purple, .demo-hover-purple:hover {
    color: #fff !important;
    background-color: #9c27b0 !important
}

.demo-deep-purple, .demo-hover-deep-purple:hover {
    color: #fff !important;
    background-color: #673ab7 !important
}

.demo-red, .demo-hover-red:hover {
    color: #fff !important;
    background-color: #f44336 !important
}

.demo-sand, .demo-hover-sand:hover {
    color: #000 !important;
    background-color: #fdf5e6 !important
}

.demo-teal, .demo-hover-teal:hover {
    color: #fff !important;
    background-color: #009688 !important
}

.demo-yellow, .demo-hover-yellow:hover {
    color: #000 !important;
    background-color: #ffeb3b !important
}

.demo-white, .demo-hover-white:hover {
    color: #000 !important;
    background-color: #fff !important
}

.demo-aablue, .demo-hover-aablue:hover {
    color: #000 !important;
    background-color: #13579A !important
}

.demo-grey, .demo-hover-grey:hover, .demo-gray, .demo-hover-gray:hover {
    color: #000 !important;
    background-color: #9e9e9e !important
}

.demo-light-grey, .demo-hover-light-grey:hover, .demo-light-gray, .demo-hover-light-gray:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important
}

.demo-dark-grey, .demo-hover-dark-grey:hover, .demo-dark-gray, .demo-hover-dark-gray:hover {
    color: #fff !important;
    background-color: #616161 !important
}

.demo-pale-red, .demo-hover-pale-red:hover {
    color: #000 !important;
    background-color: #ffdddd !important
}

.demo-pale-green, .demo-hover-pale-green:hover {
    color: #000 !important;
    background-color: #ddffdd !important
}

.demo-pale-yellow, .demo-hover-pale-yellow:hover {
    color: #000 !important;
    background-color: #ffffcc !important
}

.demo-pale-blue, .demo-hover-pale-blue:hover {
    color: #000 !important;
    background-color: #ddffff !important
}

.demo-text-amber, .demo-hover-text-amber:hover {
    color: #ffc107 !important
}

.demo-text-aqua, .demo-hover-text-aqua:hover {
    color: #00ffff !important
}

.demo-text-blue, .demo-hover-text-blue:hover {
    color: #2196F3 !important
}

.demo-text-light-blue, .demo-hover-text-light-blue:hover {
    color: #87CEEB !important
}

.demo-text-brown, .demo-hover-text-brown:hover {
    color: #795548 !important
}

.demo-text-cyan, .demo-hover-text-cyan:hover {
    color: #00bcd4 !important
}

.demo-text-blue-grey, .demo-hover-text-blue-grey:hover, .demo-text-blue-gray, .demo-hover-text-blue-gray:hover {
    color: #607d8b !important
}

.demo-text-green, .demo-hover-text-green:hover {
    color: #4CAF50 !important
}

.demo-text-light-green, .demo-hover-text-light-green:hover {
    color: #8bc34a !important
}

.demo-text-indigo, .demo-hover-text-indigo:hover {
    color: #3f51b5 !important
}

.demo-text-khaki, .demo-hover-text-khaki:hover {
    color: #b4aa50 !important
}

.demo-text-lime, .demo-hover-text-lime:hover {
    color: #cddc39 !important
}

.demo-text-orange, .demo-hover-text-orange:hover {
    color: #ff9800 !important
}

.demo-text-deep-orange, .demo-hover-text-deep-orange:hover {
    color: #ff5722 !important
}

.demo-text-pink, .demo-hover-text-pink:hover {
    color: #e91e63 !important
}

.demo-text-purple, .demo-hover-text-purple:hover {
    color: #9c27b0 !important
}

.demo-text-deep-purple, .demo-hover-text-deep-purple:hover {
    color: #673ab7 !important
}

.demo-text-red, .demo-hover-text-red:hover {
    color: #f44336 !important
}

.demo-text-sand, .demo-hover-text-sand:hover {
    color: #fdf5e6 !important
}

.demo-text-teal, .demo-hover-text-teal:hover {
    color: #009688 !important
}

.demo-text-yellow, .demo-hover-text-yellow:hover {
    color: #d2be0e !important
}

.demo-text-white, .demo-hover-text-white:hover {
    color: #fff !important
}

.demo-text-black, .demo-hover-text-black:hover {
    color: #000 !important
}

.demo-text-grey, .demo-hover-text-grey:hover, .demo-text-gray, .demo-hover-text-gray:hover {
    color: #757575 !important
}

.demo-text-light-grey, .demo-hover-text-light-grey:hover, .demo-text-light-gray, .demo-hover-text-light-gray:hover {
    color: #f1f1f1 !important
}

.demo-text-dark-grey, .demo-hover-text-dark-grey:hover, .demo-text-dark-gray, .demo-hover-text-dark-gray:hover {
    color: #3a3a3a !important
}

.demo-border-amber, .demo-hover-border-amber:hover {
    border-color: #ffc107 !important
}

.demo-border-aqua, .demo-hover-border-aqua:hover {
    border-color: #00ffff !important
}

.demo-border-blue, .demo-hover-border-blue:hover {
    border-color: #2196F3 !important
}

.demo-border-light-blue, .demo-hover-border-light-blue:hover {
    border-color: #87CEEB !important
}

.demo-border-brown, .demo-hover-border-brown:hover {
    border-color: #795548 !important
}

.demo-border-cyan, .demo-hover-border-cyan:hover {
    border-color: #00bcd4 !important
}

.demo-border-blue-grey, .demo-hover-border-blue-grey:hover, .demo-border-blue-gray, .demo-hover-border-blue-gray:hover {
    border-color: #607d8b !important
}

.demo-border-green, .demo-hover-border-green:hover {
    border-color: #4CAF50 !important
}

.demo-border-light-green, .demo-hover-border-light-green:hover {
    border-color: #8bc34a !important
}

.demo-border-indigo, .demo-hover-border-indigo:hover {
    border-color: #3f51b5 !important
}

.demo-border-khaki, .demo-hover-border-khaki:hover {
    border-color: #f0e68c !important
}

.demo-border-lime, .demo-hover-border-lime:hover {
    border-color: #cddc39 !important
}

.demo-border-orange, .demo-hover-border-orange:hover {
    border-color: #ff9800 !important
}

.demo-border-deep-orange, .demo-hover-border-deep-orange:hover {
    border-color: #ff5722 !important
}

.demo-border-pink, .demo-hover-border-pink:hover {
    border-color: #e91e63 !important
}

.demo-border-purple, .demo-hover-border-purple:hover {
    border-color: #9c27b0 !important
}

.demo-border-deep-purple, .demo-hover-border-deep-purple:hover {
    border-color: #673ab7 !important
}

.demo-border-red, .demo-hover-border-red:hover {
    border-color: #f44336 !important
}

.demo-border-sand, .demo-hover-border-sand:hover {
    border-color: #fdf5e6 !important
}

.demo-border-teal, .demo-hover-border-teal:hover {
    border-color: #009688 !important
}

.demo-border-yellow, .demo-hover-border-yellow:hover {
    border-color: #ffeb3b !important
}

.demo-border-white, .demo-hover-border-white:hover {
    border-color: #fff !important
}

.demo-border-black, .demo-hover-border-black:hover {
    border-color: #000 !important
}

.demo-border-grey, .demo-hover-border-grey:hover, .demo-border-gray, .demo-hover-border-gray:hover {
    border-color: #9e9e9e !important
}

.demo-border-light-grey, .demo-hover-border-light-grey:hover, .demo-border-light-gray, .demo-hover-border-light-gray:hover {
    border-color: #f1f1f1 !important
}

.demo-border-dark-grey, .demo-hover-border-dark-grey:hover, .demo-border-dark-gray, .demo-hover-border-dark-gray:hover {
    border-color: #616161 !important
}

.demo-border-pale-red, .demo-hover-border-pale-red:hover {
    border-color:#ffe7e7 !important
}

.demo-border-pale-green, .demo-hover-border-pale-green:hover {
    border-color: #e7ffe7 !important
}

.demo-border-pale-yellow, .demo-hover-border-pale-yellow:hover {
    border-color:#ffffcc !important
}

.demo-border-pale-blue, .demo-hover-border-pale-blue:hover {
    border-color: #e7ffff !important
}


